body {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.request_table,
th,
td {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
  border-collapse: collapse;
}

table {
  width: 80%;
  margin: auto;
}

thead {
  background-color: cadetblue;
}

tbody {
  background-color: #cfe1e2;
}
